<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
        <nav class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Password Management System</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Password Category </a>
                      <ul class="dropdown-menu">
                          <li><a href="/add-new-category" class="dropdown-item">Add New Category</a></li>
                        <li><a href="/passwordCategory" class="dropdown-item">View All Category</a></li>
                      </ul></li>
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Password Details </a>
                        <ul class="dropdown-menu">
                            <li><a href="add-new-password" class="dropdown-item">Add New Password</a></li>
                          <li><a href="view-all-password" class="dropdown-item">View All Password</a></li>
                        </ul></li>
                  </ul>
                    </div>
              </nav>
  <div class="container">
        <div class="row">
            <h1>Password Category Lists</h1>
            <br>
         <table class="table table-striped table-primary">
          <thead>
            <tr>
              <th>Password Category Name</th>
        
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           
            <tr>
              <td>Godaddy</td>
             
              <td><a class="btn btn-primary btn-xs" href="/edit/"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" href="/delete/"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
